.main {
   width: 1170px;
   margin: 0 auto;
   padding: 0 55px;
}

.hero {
   margin-bottom: 120px;
   h1 {
      margin: 0 0 40px 70px;
      font-size: 44px;
      font-style: italic;
      line-height: 60px;
      text-transform: uppercase;
      font-weight: 400;
   }
}

.hero {
   img {
      display: block;
   }
}
