body {
   color: #163152;
   background: #FDFDFF;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 24px; 
   margin: 0;
}

@import '_header';
@import '_main';
@import '_blog';
@import '_rent';
@import '_gallery';
@import '_news';
@import '_contacts';
@import '_footer';

.active {
   background-color: #00c6bd;
   color: #FDFDFF;
}
